html, body, #app, #app>div, #root {
  height: 100%
}

/*containerProfile*/
.containerProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background-color: #f9fbff;
  padding-bottom: 25%;
  min-height: 100%;
  width: 100%;
}

/*MEDICATION*/
.containerProfile .med-container {
  margin-top: 6%;
}

/*"add medications" button*/
.deargod-med button {
  background-color: #7edd97;
  border: 0;
  margin: 10px 0 10px 0;
  border-radius: 16px;
}

.deargod-med button span {
  font-weight: bold;
  color: #1c3f22;
}

.single-medicine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.name-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-progress p {
  margin: 4px;
  font-size: 20px;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;

}
.progress-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
}
